<footer class='footer fluid'>

    <nav class="nav">
        <a href="#"> <img class="footer__logo logo" src="../assets/images/Logo-2.png" alt="tap" width="100" height="100"> </a>
        <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">about talisman</a></li>
            <li class="nav__item"><a href="#" class="nav__link">job board</a></li>
            <li class="nav__item"><a href="#" class="nav__link"> case studies </a></li>
            <li class="nav__item"><a href="#" class="nav__link">media hub</a></li>
            <li class="nav__item"><a href="#" class="nav__link">who we work with</a> </li>   
        </ul>
    </nav>

    <div class="footer__box">
        <div class="footer__networks networks">
            <a class="networks__link"> <img src="../assets/images/netvork-1.svg" alt="facebook"> </a>
            <a class="networks__link"> <img src="../assets/images/network-2.svg" alt="instagram"> </a>
            <a class="networks__link"> <img src="../assets/images/network-3.svg" alt=""> </a>
            <a class="networks__link"> <img src="../assets/images/network-4.svg" alt=""> </a>
        </div>

        <div class="privat">
            © 2021 talisman 
            <a href="#" class="privat__link">Cookies</a>
            <a href="#" class="privat__link">Privacy</a>
        </div>
    </div>
</footer>