    <!-- header -->
    <header class="header fluid">
             
        <nav class="nav">
            <a href="#"> <img class="logo" src="../assets/images/logo.svg" alt="tap" width="380" height="90"> </a>
            <ul class="nav__list">
               <li class="nav__item"><a href="#" class="nav__link">about talisman</a></li>
               <li class="nav__item"><a href="#" class="nav__link">job board</a></li>
               <li class="nav__item"><a href="#" class="nav__link"> case studies </a></li>
               <li class="nav__item"><a href="#" class="nav__link">media hub</a></li>
               <li class="nav__item"><a href="#" class="nav__link">who we work with</a> </li>   
              </ul>
        </nav>


        <div class="header__content">
            <h1 class="header__title">solutions today, for the industries of <span class='point'>tomorrow</span></h1>
            <div class="header__wrap">
                <img src="../assets/images/figure-1.png" alt="">
                <div class="header__img" style="background: url('../assets/images/img-1.png')"></div>
                <img src="../assets/images/figure-2.png" alt="">
            </div>
        </div>

        <div class="header__scroll">scroll</div>
    </header>

