    <!-- header -->
    <header class="header">
        <div class="header__inner">
            <a href="#"> <img class="logo" src="../assets/images/logo.svg" alt="tap" width="380" height="90"> </a>

            <nav class="nav">
                <ul class="nav__list">
                <li class="nav__item"><a href="#">about talisman</a></li>
                <li class="nav__item"><a href="#">job board</a></li>
                <li class="nav__item"><a href="#">case studies</a></li>
                <li class="nav__item"><a href="#">media hub</a></li>
                <li class="nav__item"><a href="#">who we work with</a></li>   
                </ul>
            </nav>

            <!--burger -->
            <div class="burger">
                <div class="burger__inner">
                    <span class="burger__line"></span>
                </div>
            </div>
        </div>
    </header>

