
/* 0-Document*/
* ,*:before,*:after{
	box-sizing: border-box;
	border: 1px solid rgb(255, 0, 0);
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

html,body{
	min-width: 100%;
	// min-height: 100%;
	background-color: #203044;
	// color: #ffffff;
	// margin: 0px auto;

}

/* 1-Sections*/
body,ul,p,h1,h2,h3,h4,h5,h6 {
	margin: 0 5px;
	padding: 0;
	font-family: "RaptorPremium-Bold";

}

ul{
	list-style: none;
}


/* 2-Grouping_content*/
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}


/* 3-Text-level_semantics */
a {
	color:inherit;
    text-decoration: none;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}


/* 4-Embedded_content */
img {
	border-style: none;
}


/* 5-Forms */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}


button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}


[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* 6-Interactive */
details {
	display: block;
}

summary {
	display: list-item;
}

/* 7-Misc */
template {
	display: none;
}

[hidden] {
	display: none;
}