/* Text */
$fontFamily-1:"RaptorPremium-Bold";
$fontFamily-2:"RaptorPremium-Regular";
$fontFamily-3:"RaptorPremium-Light";
$fontFamily-4:"RaptorPremium-Slanted";
$colorText-1:#203044;
$colorText-2:#f58ec8;
$colorText-3:#ffffff;


/* Buttons */
$colorBtn:#f58ec8;
// $BackgroundBtn:

$Background-1:#f58ec8;
$Background-2:#ffffff;
$Background-3:#0ef2a2;
$Background-4: #374557;


